header, footer {
    background-color: var(--primary);
    color: var(--primary-inverse);
    font-size: 1.4em;
    font-weight: bold;
}


p.error {
    color: red;
    font-weight: bold;
    font-size: 0.9em;
}