header, footer {
    background-color: var(--primary);
    color: var(--primary-inverse);
    font-size: 1.4em;
    font-weight: bold;
    padding: 0;
}


p.error {
    color: red;
    font-weight: bold;
    font-size: 0.9em;
}

#Calculate_Calcular {
    margin-left: 40%;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 50px 1fr 0 auto;
    margin: 0;
}

 #ganancia {
    color: green;
 }

 #perdida {
    color: red;
 }

 #enunciado {
    text-align: center;
    font-size: 2.5em;
 }